/* General body styling */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('../images/travel/hero-bg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

body.itinerary-page{
    background-image: none;
}

body.itinerary-page::before{
    content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 73vh; /* O un valor fijo */
  background-image: url('../images/travel/itinerary-hero.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  z-index: -1;
}

.itinerary-page .hero{
    padding-bottom: 5vh;
}

.itinerary-page #form {
    position: relative;
    top: 10vh;
}

a{
    text-decoration: none;
    color: #0271AC;
}

.itinerary-page #form .form-container{
    background-color: white;
    box-shadow: 0px 1px 8px #00000015;
    color: #39BDCD;
    border-radius: 10px;
}

/* passenger-counter */
.passenger-count {
    display: flex;
    align-items: center;
    gap: 8px;
}

.passenger-btn {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 20%;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.2s;
    aspect-ratio: 1;
    padding: 0;
    border: none;
    box-shadow: 2px 2px 8px 0px #00000021;
    color: #39BDCD;
}

.passenger-btn:hover {
    background: #e0e0e0;
}
#passengerNumber {
    width: 30px;
    text-align: end;
    border: none;
    background: transparent;
    font-size: 15px;
    padding: 0;
}

/*  styling */

.lang-switch {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin-top: 20px;
}

.lang-switch li a {
    padding: 5px;
    display: block;
    margin: 2px 5px;
    border: 1px solid;
    color: lightgray;
    text-decoration: none;
}

.destination-cards .card img {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 100px;
}

.hero {
    color: white;
    text-align: center;
    padding: 20vh 20px;
}

.hero h1 {
    font-size: 3em;
    margin: 20px 0;
    text-transform: uppercase;
    font-weight: 800;
}

.hero p {
    font-size: 1em;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 50px;
}

.cta-button {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #00000030;
}

.hero .cta-button {
    padding-right: 60px;
    position: relative;
}

.light {
    background: linear-gradient(45deg, #FBAD2C, #F18100);
}

.hero .cta-button::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 15px;
    background-image: url('../images/travel/chevron-right.png');
    background-size: contain;
}

.form-container {
    color: white;
    background-color: #0299AD;
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 25px;
    margin-bottom: 100px;
    position: relative;
}

.form-container label, .form-container input {
    display: block;
    width: 90%;
    margin: 20px;
    padding-left: 0;
    padding-right: 0;
    border: none;
}

.form-container input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.form-container .cta-button {
    text-align: center;
    color: #0299ad;
    font-weight: 600;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    border: none;
}

.grid-40-60 {
    display: grid;
    grid-template-columns: 40% 60%;
}

.grid-50 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.destination-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    position: relative;
    top: 70px;
}

#escapes {
    background-color: #39BDCD;
    padding: 50px;
}

.card {
    background-color: white;
    box-shadow: 0px 4px 4px #0000002e;
    border-radius: 40px;
    padding: 20px 40px;
    text-align: center;
    margin-top: 75px;
}

.card h3 {
    color: #39BDCD;
    font-size: 1.7em;
}

.card p {
    color: #989A9A;
    font-size: 18px;
}

.card img, .card h3, .card p {
    position: relative;
    bottom: 80px;
}

.escapes-copy {
    color: white;
}

.escapes-copy h2 {
    font-size: 3.5em;
}

.escapes-copy p {
    font-size: 20px;
    width: 90%;
}

#affirm {
    margin: 50px 0;
}

.affirm-container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.affirm-title h2 {
    font-size: 1.8em;

}

strong.light {
    background: none;
    display: block;
    font-weight: lighter;
}

.affirm-title {
    margin-top: 100px;
    display: flex;
    align-items: anchor-center;
}

.affirm-logo {
    display: block;
    width: 100%;
    max-width: 180px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.white {
    color: #0271AC;
    border: 1px solid;
}

.affirm-container p {
    margin-bottom: 40px;
}

.affirm-container a small {
    margin-top: 25px;
    display: block;
}

#trips {
    text-align: center;
}

#trips h2 {
    font-size: 2.3em;
    margin-bottom: 0;
}

#trips > p {
    font-size: 1.4em;
}

#trips .grid-50 {
    max-width: 1000px;
    margin: 50px auto;
}

.blog-article-container {
    text-align: center;
    color: white;
    background-color: #39BDCD;
    margin: 50px auto;
    padding: 20px 40px;
    width: 90%;
    border-radius: 30px;
    box-sizing: border-box;
}

.blog-article {
    max-width: 1200px;
    margin: 0 auto;
}

.blog-article {
    max-width: 1200px;
    margin: 0 auto;
}

.blog-article .cta-button {
    position: relative;
    top: 30px;
}

.chat-cta-container .cta-button{
    position: relative;
    top: 50px;
}

#chat-cta {
    background-color: #0A1400;
    color: white;
    padding: 40px;
    text-align: center;
    margin-bottom: 100px;
}

.chat-cta-container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

#blog-article {
    margin-bottom: 100px;
}

.chat-cta-container h2 {
    font-size: 2em;
}

.blue {
    background: linear-gradient(45deg, #0274AD, #00CBD2);
}

.blog-article h3 {
    font-size: 2em;
}

.form-container::after {
    content: "";
    display: block;
    width: 200px;
    height: 400px;
    position: absolute;
    background-image: url('../images/travel/form.gif');
    top: 10vh;
    right: -10vw;
    background-size: cover;
}

.itinerary-page .form-container::after{
    display: none;
}

.cta-button:hover, .lang-switch ul li a:hover {
    transition: all 0.3s;
    filter: brightness(1.1);
    cursor: pointer;
    transform: scale(1.05);
}

#trips > div {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.escapes-image{
    display: none;
}

/* Header styling */
header {
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    width: 90%;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo styling */
.logo {
    height: auto;
    max-width: 150px;
}

/* Navigation menu styling */
.navigation {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ffcc00;
}

/* Hamburger menu styling */
.hamburger-menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger-menu span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
}

/* Footer styling */
footer {
    padding: 20px;
    text-align: center;
}

.footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:flex-start;
    gap: 20px;
    margin-bottom: 20px;
}

.footer-column {
    flex: 1;
    min-width: 150px;
}

.footer-logo {
    max-width: 150px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.footer-column h3 {
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #747E98;
    font-size: 14px;
    transition: color 0.3s ease;
}

.footer-column ul li a:hover {
    color: #ffcc00;
}

.footer-column a img {
    height: 30px;
    margin: 0 5px;
    transition: transform 0.3s ease;
}

.footer-column a img:hover {
    transform: scale(1.1);
}

hr {
    border: 0;
    border-top: 1px solid lightgray;
    margin: 20px 0;
}

footer p {
    font-size: 14px;
    margin: 0;
}

/*Itinerary*/

section#itinerary-cards {
    max-width: 680px;
    margin: 0 auto;
    margin-top: 150px;
}



.add-options {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.option {
    display: flex;
    width: 100%;
    align-items: center;
}

.option input[type="radio"] {
    width: fit-content;
    margin-right: 10px;
    accent-color: cadetblue;
}

.option input, .option label {
    margin: 0;
}

.option label {
    color: black;
    font-size: 12px;
}

.itinerary-menu-btns {
    position: absolute;
    top: -10px;
}

.itinerary-btn {
    color: #39BDCD;
    padding: 6px 12px;
    font-size: 13px;
    border: none;
    background: white;
    box-shadow: 0px 0px 8px 2px #00000030;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: all 0.4s ease;
}

.itinerary-btn:hover, .itinerary-btn:active {
    background: linear-gradient(45deg, #FBAD2C, #F18100);
    color: white;
    transition: all 0.4s ease;
}

.itinerary-page .form-container:has(.itinerary-menu-btns) form {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 5px;
    align-items: center;
    margin-top: 15px;
}

.it-field {
    width: 100%;
    font-size: 12px;
    padding: 7px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.it-field label {
    margin: 0;
    text-transform: uppercase;
    color: darkgray;
}

.it-field input {
    font-size: 12px;
    margin: 0;
    padding: 2px;
    border: none;
}

.itinerary-page .form-container:has(.itinerary-menu-btns) form .cta-button {
    margin: 0;
    background: #39BDCD;
    aspect-ratio: 1;
    padding: 5px;
}

.itinerary-page .form-container:has(.itinerary-menu-btns) form .cta-button svg {
    max-width: 40px;
}

.it-card {
    border: 2px solid #39BDCD;
    margin: 10px 0;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}

.it-card > h4 {
    margin: 0;
    padding: 5px 10px;
    background: #39BDCD;
    color: white;
    border-radius: 8px;
    font-weight: 400;
    position: absolute;
    width: 90%;
    max-width: 600px;
    top: -15px;
    left: 50%;
    transform: translate(-50%, 0);
}

.it-card-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-box {
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 8px;
}

.info-box h4 {
    margin: 5px 0;
    font-size: 13px;
}

.info-box small {
    font-size: 11px;
    color: darkgray;
}

.nobox-info h3 {
    margin: 4px 0;
    color: #39BDCD;
}

.book-btn {
    display: block;
    width: 90%;
    background: #39BDCD;
    color: white;
    font-family: 'Montserrat';
    border: none;
    padding: 8px;
    border-radius: 5px;
    transition: all 0.4s ease;
}

.book-btn:hover, .book-btn:active {
    background: linear-gradient(45deg, #FBAD2C, #F18100);
    color: white;
    transition: all 0.4s ease;
    cursor: pointer;
}

.it-card > p {
    margin: 0;
    font-size: 13px;
}

.nobox-info small {
    font-size: 12px;
    color: darkgray;
}

.it-card.orng {
    border-color: #F18100;
}

.it-card.orng > h4 {
    background: #F18100;
}

.it-card.orng .nobox-info h3 {
    color: #F18100;
}

.it-card.orng .book-btn {
    background: #F18100;
}

.it-card.orng .book-btn:hover,
.it-card.orng .book-btn:active {
    background: #39BDCD;
}




/* Responsive styling */

@media screen and (min-height:1081px){
    body.itinerary-page::before {
        height: 55vh;
    }
}

@media screen and (max-width:1024px){
    .form-container::after {
        right: -15vw;
    }
    body {
        background-size: initial;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #0078d7;
        position: absolute;
        top: 60px;
        right: 20px;
        padding: 10px;
        border-radius: 5px;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger-menu {
        display: flex;
    }
}

@media screen and (max-width:820px){
    .form-container::after{
        display: none;
    }
    .grid-40-60 {
        grid-template-columns: 100%;
    }
}

@media (max-width: 768px) {
    .card h3 {
        font-size: 1.5em;
    }
}

@media screen and (max-width:600px){

    .it-card {
        width: 80%;
        margin: 10px auto;
    }

    .info-box {
        margin-bottom: 15px;
    }

    .it-card-grid {
        display: block;
    }

    .itinerary-page .form-container:has(.itinerary-menu-btns) form .cta-button {
        grid-column: 1 / -1;
        margin-top: 10px;
        aspect-ratio: unset;;
    }

    .it-field {
        width: 90%;
    }

    .itinerary-page .form-container:has(.itinerary-menu-btns) form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .itinerary-menu-btns {
        position: unset;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
        margin-bottom: 20px;
    }

    .itinerary-btn {
        display: block;
        width: 100%;
    }

    .form-container {
        color: rgb(34, 34, 34);
        background-color: #f4f4f4;
        padding: 20px;
        border-radius: 0;
        margin-bottom: 100px;
        position: relative;
    }

    .add-options {
        width: 100%;
    }

    .escapes-image {
        display: block;
        width: 100%;
        max-width: 250px;
        margin: 0 auto;
        position: relative;
        bottom: 100px;
    }
    #escapes {
        background-color: #39BDCD;
        padding: 20px;
        border-radius: 300px;
        padding-bottom: 250px;
        margin-top: 300px;
    }
    .destination-cards {
        grid-template-columns: 100%;
    }
    body {
        background-position: top center;
    }
}

@media screen and (max-width:400px){
    #trips .grid-50 {
        grid-template-columns: 100%;
        gap: 30px;
    }
}
